.react-autosuggest__container {
  @apply flex flex-col w-full;
}
.react-autosuggest__input {
  @apply bg-general-background h-14 w-full px-5 pr-10 rounded-lg text-nav-text text-sm border tracking-wider transition duration-100 ease-in-out;
  border-color: #233e52;
}
.react-autosuggest__input--focused {
  @apply outline-none shadow-lg;
}
.react-autosuggest__suggestions-container {
  @apply bg-navbar rounded-lg overflow-hidden z-1 shadow-lg;
}
.react-autosuggest__section-container--first {
  @apply pt-2;
}
.react-autosuggest__section-container {
  @apply pb-2 w-full text-left;
}
.react-autosuggest__section-title {
  @apply py-1 px-4 text-xs select-none;
  color: #accfe4;
}
.react-autosuggest__suggestions-list {
  @apply block text-nav-text;
}
.react-autosuggest__suggestion {
  @apply font-extrabold text-base flex;
  color: #ecefff;
  padding: 0.35rem 1rem;
}
.react-autosuggest__suggestion--highlighted {
  @apply text-white cursor-pointer;
  background: #3C366B;
}

.search-bar-input {
  @apply bg-general-background h-10 w-full px-5 pr-10 rounded-lg text-nav-text text-sm border border-teal-900 tracking-wider transition duration-100 ease-in-out;
}
.search-bar-input:focus {
  @apply outline-none shadow-lg;
}
.search-bar-icon {
  @apply absolute right-0 top-0 mr-3 h-full flex items-center text-nav-text;
}
.search-bar-icon:focus {
  @apply outline-none;
}
.search-bar-icon-svg {
  @apply h-4 w-4 m-2 fill-current;
}

.search-bar-suggestions {
  @apply absolute bg-navbar py-2 rounded-lg w-full shadow-lg;
}

.home__search-bar {
  @apply relative text-gray-600 w-full;
}
.nav__search-bar {
  @apply relative text-gray-600 w-full hidden;
}
.nav__search-bar > input {
  @apply outline-none;
}
.nav__search-bar > input:focus {
  @apply shadow-lg;
}

@screen lg {
  .home__search-bar {
    @apply w-full;
  }
  .nav__search-bar {
    @apply w-3/5 mx-auto;
  }
  .search-bar-suggestions {
    @apply w-3/5 left-20;
  }
  .react-autosuggest__container {
    @apply w-1/2;
  }
}

@screen md {
  .nav__search-bar {
    @apply block;
  }
}