@font-face {
  font-family: 'Heebo-Thin';
  src: url('/fonts/Heebo-Thin.ttf');
}
@font-face {
  font-family: 'Heebo-Light';
  src: url('/fonts/Heebo-Light.ttf');
}
@font-face {
  font-family: 'Heebo-Regular';
  src: url('/fonts/Heebo-Regular.ttf');
}
@font-face {
  font-family: 'Heebo-Medium';
  src: url('/fonts/Heebo-Medium.ttf');
}
@font-face {
  font-family: 'Heebo-Bold';
  src: url('/fonts/Heebo-Bold.ttf');
}
@font-face {
  font-family: 'Heebo-ExtraBold';
  src: url('/fonts/Heebo-ExtraBold.ttf');
}
@font-face {
  font-family: 'Heebo-Black';
  src: url('/fonts/Heebo-Black.ttf');
}