.layout-container {
  min-height: calc(100vh - 60px);
}
.bg-image-wrapper {
  @apply flex flex-col;
}
.bg-image {
  @apply absolute top-0 left-0 right-0 bottom-0 pointer-events-none overflow-hidden;
  z-index: -1;
}
.bg-image-img {
  @apply w-full opacity-100 transition-opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent 70%);
}
.content-wrapper {
  @apply mx-auto px-4 pb-8;
  min-height: calc(100vh - 60px);
}

@screen md {
  .content-wrapper {
    @apply px-6 pb-12;
  }
}

@screen lg {
  .content-wrapper {
    @apply px-8 pb-16;
  }
}