.footer {
  @apply border-t-1 border-card-border;
}
.footer-inner {
 @apply bg-navbar text-center;
}

.footer__link-wrapper {
  @apply flex flex-col m-auto pt-6 text-gray-200 flex flex-wrap justify-between;
}
.footer__link-section {
  @apply mx-auto text-center p-5;
}
.footer__link-section-header {
  @apply text-xs uppercase text-gray-500 font-medium;
}
.footer__link {
  @apply my-3 block;
  transition: all 0.15s ease-in-out;
}
.footer__link:hover {
  @apply text-white;
  transform: translateX(2%);
}

.footer__bottom-wrapper {
  @apply mx-auto;
}
.footer__bottom {
  @apply flex items-center pt-6 pb-5 px-3 m-auto border-t border-gray-900 text-gray-400 text-sm flex-col;
}
.footer__bottom-social {
  @apply flex flex-auto pt-3;
}
.footer_bottom-social-link {
  @apply w-6 mx-1;
  transition: all 0.15s ease-in-out;
}
.footer_bottom-social-link:hover {
  @apply text-gray-100;
}

@screen sm {
  .footer__link-wrapper {
    @apply flex-row;
  }
  .footer__link-section {
    @apply text-left;
  }
  .footer__bottom {
    @apply flex-row;
  }
  .footer__bottom-social {
    @apply flex-row flex-row-reverse pt-0;
  }
}