.weapons-page-wrapper {
  @apply w-auto m-auto max-w-full;
}
.weapon-block {
  @apply relative overflow-hidden border border-card-border p-4;
  background-image: linear-gradient(to bottom, #151e32, #0e1726);
  border-radius: 5px;
  transition: all 0.35s ease-in-out 0s;
}
.weapon-block:hover {
  @apply shadow-md;
}
.weapon-hero {
  @apply mt-10 mx-auto;
  width: 85%;
  transition: all 0.25s ease-in-out 0s;
}
.weapons-grid {
  @apply grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
}
.weapon-name {
  @apply text-lg uppercase text-white static mt-5 text-left pb-0;
}
.weapon-block:hover .weapon-hero {
  transform: scale(1.08);
}
.weapons-page {
  @apply flex items-center;
  min-height: calc(100vh - 380px);
}
.weapons-page > div {
  @apply flex flex-col items-stretch w-full h-full;
  min-height: calc(100vh - 380px);
}
.weapons-title {
  @apply flex items-center my-4 mx-0;
  height: 80px;
}

.weapon__tier {
  @apply absolute uppercase;
  top: 20px;
  left: 20px;
  border-radius: 2px;
  padding: 4px 5px;
  color: rgba(255, 255, 255, .9);
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 700;
  background-color: #00b7c3;
  z-index: 45;
}

.weapon__tier-C {
  background-color: #498205;
}
.weapon__tier-B {
  background-color: #ff8c00;
}
.weapon__tier-A {
  background-color: #f7630c;
}
.weapon__tier-S {
  background-color: #e81123;
}

.weapon__desc-list_main .weapon__desc-text .price_credits {
  @apply opacity-50;
}
.weapon__desc-list {
  @apply w-full grid items-center justify-between;
  grid-template-columns: 1fr 1fr;
}
.weapon__desc-list_main {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255,70,85,.1);
  margin-bottom: 15px;
}
.weapon__desc-list_main .weapon__desc-title {
  color: rgba(255, 255, 255, .5);
  font-size: 12px;
}
.weapon__desc-text, .weapon__desc-title {
  padding: 2px 0;
}
.weapon__desc-list_main .weapon__desc-text {
  @apply text-base text-white font-bold inline-flex items-center ml-auto;
}
.weapon__desc-title {
  padding-right: 4px;
  text-align: left;
}
.weapon__desc-text {
  padding-left: 4px;
  text-align: right;
}

.weapon__desc-list_secondary .weapon__desc-text, 
.weapon__desc-list_secondary .weapon__desc-title {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
  line-height: 20px;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

.weapon__desc-list_secondary .weapon__desc-title.section-title {
  @apply mt-3;
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  line-height: 20px;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

@screen lg {
  .weapons-page-wrapper {
    @apply relative flex-1 my-0 mx-auto;
  }
}