.weapons-page-wrapper {
  @apply w-auto m-auto max-w-full;
}
.weapon-block {
  @apply relative overflow-hidden border border-card-border;
  border-radius: 5px;
}
.weapon-block:after {
  @apply absolute w-full bottom-0 left-0;
  content: '';
  height: 40%;
  background: linear-gradient(to top, rgba(19, 28, 46, 0.7) 10%, transparent 100%);
}
.weapon-hero {
  @apply block absolute h-full w-auto;
  top: 50%;
  left: 50%;
  max-width: inherit;
  transform: translate(-50%, -50%);
  transition: all 0.35s ease-in-out 0s;
}
.weapons-grid {
  @apply grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 225px;
  gap: 1rem;
}
.weapon-name {
  @apply absolute uppercase text-left z-1;
  bottom: 1rem;
  left: 1.75rem;
  font-size: 1.375rem;
  font-family: 'Heebo-Regular', Arial, sans-serif;
}
.weapon-block:hover .weapon-hero {
  transform: translate(-50%, -50%) scale(1.05);
}
.weapons-page {
  @apply flex items-center;
  min-height: calc(100vh - 380px);
}
.weapons-page > div {
  @apply flex flex-col items-stretch w-full h-full;
  min-height: calc(100vh - 380px);
}
.weapons-title {
  @apply flex items-center my-4 mx-0;
  height: 80px;
}

@screen lg {
  .weapons-page-wrapper {
    @apply relative flex-1 my-0 mx-auto;
    width: 1016px;
  }
}